body {
    background-color: #fffbf7;
}

h1 {
    color: #178497;
}

p {
    color: #a10e53cc;
}

button {
    color: #fff;
    background-color: #025157;
}
main {
    margin-top: 285px;
    text-align: center;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.header {
    margin: 40px 20px auto 20px;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}
li {
    display: inline;
}
.logo {
    width: 15%;
}
.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
}
.menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
}
.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}
.actions a {
    color: #67b54b;
}
.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    border-bottom: 12px;
    border: 0;
    border-radius: 5px;
}
.logo > img {
    height: 100%;
}
.publish h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#025157;
}
.publish p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 10px;
} 
.publish > form {
    display: flex;
}
.publish > form p {
    color:#025157;
    margin-right: 18 px;
}
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}
.fixed-header {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    background-color: #fffbf7;
}